@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background: rgb(0, 0, 0);
  font-family: Pretendard-Regular;
}

/* font */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* counter */
@keyframes countAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.counter {
  animation: countAnimation 1s ease-in-out forwards;
}


/* animation image */
.animation-image {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}